anyio==3.5.0+computecanada
argon2-cffi-bindings==21.2.0+computecanada
argon2-cffi==21.3.0+computecanada
asttokens==2.0.5+computecanada
attrs==21.4.0+computecanada
babel==2.9.1+computecanada
backcall==0.2.0+computecanada
backports.functools-lru-cache==1.6.4+computecanada
black==22.1.0+computecanada
bleach==4.1.0+computecanada
blessed==1.19.1
brotlipy==0.7.0+computecanada
certifi==2021.10.8+computecanada
cffi==1.15.0+computecanada
charset-normalizer==2.0.12+computecanada
click==8.1.0+computecanada
colorama==0.4.4+computecanada
cryptography==36.0.1+computecanada
cycler==0.11.0+computecanada
debugpy==1.5.1+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
docker-pycreds==0.4.0+computecanada
einops==0.4.1
entrypoints==0.4+computecanada
executing==0.8.3
filelock==3.6.0
flit-core==3.7.1
fonttools==4.29.1+computecanada
gitdb==4.0.9+computecanada
gitpython==3.1.27
gql==2.0.0
graphql-core==2.3.2
huggingface-hub==0.4.0+computecanada
idna==3.3+computecanada
importlib-metadata==4.11.2
importlib-resources==5.4.0+computecanada
inquirer==2.9.2
ipdb==0.13.9
ipykernel==6.9.1
ipython-genutils==0.2.0+computecanada
ipython==8.1.1
ipywidgets==7.6.5+computecanada
jedi==0.18.1+computecanada
jinja2==3.0.3+computecanada
joblib==1.1.0+computecanada
json5==0.9.5+computecanada
jsonschema==4.4.0+computecanada
jupyter-client==7.1.2+computecanada
jupyter-core==4.9.2
jupyter-server==1.13.5+computecanada
jupyterlab-pygments==0.1.2+computecanada
jupyterlab-server==2.10.3+computecanada
jupyterlab-widgets==1.0.2+computecanada
jupyterlab==3.3.0
kiwisolver==1.3.2+computecanada
lxml==4.8.0
markupsafe==2.1.0
matplotlib-inline==0.1.3+computecanada
matplotlib==3.5.1+computecanada
mistune==0.8.4+computecanada
munkres==1.1.4
mypy-extensions==0.4.3+computecanada
nbclassic==0.3.6
nbclient==0.5.12
nbconvert==6.4.2+computecanada
nbformat==5.1.3+computecanada
nest-asyncio==1.5.4+computecanada
notebook-shim==0.1.0
notebook==6.4.8+computecanada
numpy==1.22.2+computecanada
packaging==21.3+computecanada
pandas==1.4.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pathspec==0.9.0+computecanada
pathtools==0.1.2+computecanada
patsy==0.5.2+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
pillow-simd==7.0.0.post3+computecanada
pillow==9.0.1+computecanada
pip==22.0.4
platformdirs==2.5.0+computecanada
plotly==5.6.0+computecanada
prometheus-client==0.13.1+computecanada
promise==2.3+computecanada
prompt-toolkit==3.0.27+computecanada
protobuf==3.20.0
psutil==5.9.0+computecanada
ptyprocess==0.7.0+computecanada
pure-eval==0.2.2+computecanada
pycparser==2.21+computecanada
pygments==2.11.2+computecanada
pyopenssl==22.0.0
pyparsing==3.0.7+computecanada
pyrsistent==0.18.1+computecanada
pysocks==1.7.1+computecanada
python-dateutil==2.8.2+computecanada
python-editor==1.0.4+computecanada
pytorch-pretrained-vit==0.0.7
pytz==2022.1
pyyaml==6.0+computecanada
pyzmq==22.3.0+computecanada
readchar==3.0.5
regex==2022.1.18+computecanada
requests==2.27.1+computecanada
rx==1.6.1
sacremoses==0.0.49+computecanada
scikit-learn==1.0.2+computecanada
scipy==1.8.0+computecanada
seaborn==0.11.2+computecanada
send2trash==1.8.0+computecanada
sentry-sdk==1.5.8
setproctitle==1.2.2
setuptools==46.1.3
shortuuid==1.0.8
six==1.16.0+computecanada
smmap==5.0.0+computecanada
sniffio==1.2.0+computecanada
stack-data==0.1.4+computecanada
statsmodels==0.13.1+computecanada
tenacity==8.0.1+computecanada
tensorboardx==2.5
termcolor==1.1.0+computecanada
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
timm==0.3.2
tokenizers==0.11.6+computecanada
toml==0.10.2+computecanada
tomli==2.0.1+computecanada
torch==1.10.0+computecanada
torchaudio==0.10.0+computecanada
torchinfo==1.6.5
torchvision==0.11.1+computecanada
tornado==6.1+computecanada
tqdm==4.63.1+computecanada
traitlets==5.1.1+computecanada
transformers==4.17.0+computecanada
typing-extensions==4.1.1+computecanada
unicodedata2==14.0.0
urllib3==1.26.9+computecanada
wandb==0.12.11
watchdog==2.1.2+computecanada
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
websocket-client==1.3.2
wheel==0.34.2
widgetsnbextension==3.6.0
win-inet-pton==1.1.0
yaspin==2.1.0+computecanada
zipp==3.8.0